*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Radio Canada', sans-serif;
    background: #355C7D;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #C06C84, #6C5B7B, #355C7D);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #C06C84, #6C5B7B, #355C7D); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}


.bg{
    background-image: url(../img/gamers-555x313.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

header{
    width: 100%; 
    
}

/* EMPIEZA TITULOS */
.contenedor {
    padding: 70px 0;
    width: 80%;
    margin: auto;
    overflow: hidden;
}


h1{
    position: absolute;
    top: 0%;
    left: 0%;
    margin-left: 630px;
    
    
}

h2{
    color: aliceblue;
    font-size: xx-large;
    text-align: center;
}

h3{
    color: aliceblue;
    font-size: x-large;
    margin-bottom: 30px;
}

p{
    color: aliceblue;
    font-size: x-large;
    margin-bottom: 30px;
}

h4{
    color: aliceblue;
    font-size: x-large;
    margin-bottom: 30px;
    text-decoration: underline;
}

/* TERMINA TITULOS */

/* BARRA DE NAVEGACIÓN */

.d-flex{
    width: 450px;
    margin: auto;
    background: rgba(0,0,0,0.4);
    padding: 10px 20px;
    box-sizing: border-box;
    margin-top: 20px;
    border-radius: 7px;
    border: solid rgba(17, 1, 22, 0.137);
    box-shadow: 0 0 20px 1px rgb(12, 12, 11)
}

nav{
    font-size: xx-large;
    border: solid rgba(17, 1, 22, 0.137);
    box-shadow: 0 0 20px 1px rgb(10, 9, 7);
    border-radius: 10px;
    margin: 20px
    
    


}




/* TERMINA BARRA DE NAVEGACIÓN */

/* EMPIEZA HEADER */

header .textos-header{
    display: flex;
    
    width: 100%;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;

}

.textos-header h1{
    padding: 20px 0;
    font-size: 50px;
    color: aliceblue;


}

.textos-header h2{
    font-size: 30px;
    font-weight: 300;
    color: aliceblue;
}

/* TERMINA HEADER */

.portada{
    background-image: url(../img/fondo1.jpg);
    height: 1000px;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
   
    opacity: 0.6;
    border-radius: 10px
}




/* EMPIEZA FORMULARIO */

.formulario{
    width: 450px;
    margin: auto;
    background: rgba(0,0,0,0.4);
    padding: 10px 20px;
    box-sizing: border-box;
    margin-top: 20px;
    border-radius: 7px;
    border: solid rgba(255, 217, 0, 0.137);
}

input, textarea{
    width: 100%;
    margin-bottom: 20px;
    padding: 7px;
    box-sizing: border-box;
    font-size: 17px;
    border: none;
}

textarea{
    min-height: 100px;
    max-height: 200px;
    max-width: 100%;
}

#boton{
    background-color: dimgray;
    padding: 20px;
}

#boton:hover{
    cursor: pointer;
}

/* TERMINA FORMULARIO */


/* EMPIEZA CATALOGO */

.contenedor-productos{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.tituloCatalogo{
    width: 100%;
    text-align: center;
    font-weight: bold;
    margin: 30px;
    font-size: 30px;
    color: aliceblue;
    text-decoration: underline;
}

.box img{
    width: 220px;
    height: 280px;
    border-radius: 30px;
}

.box{
    margin: 15px;
}

.box p{
    text-align: center;
    font-size: 20px;
}

/* TERMINA CATALOGO /*

/* EMPIEZA FOOTER */

.pie{
    width: 100%;
    background-color: rgb(22, 20, 20);
    opacity: 0.7;
    bottom: 0;
    
}

.pie .grupo-1{
    width: 100%;
    max-width: 1200px;
    display: grid;
    margin: auto;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 50px;
    padding: 45px 0px;
    
}

.pie .grupo-1 .box h2{
    color: aliceblue;
    margin-bottom: 25px;
    font-size: 20px;
}

.pie .grupo-1 .box p{
    color: beige;
    margin-bottom: 10px;
}

.pie .grupo-1 .red-social a{
    display: inline-block;
    text-decoration: none;
    width: 45px;
    height: 45px;
    line-height: 45px;
    color: aliceblue;
    margin-right: 10px;
    background-color: #000428;
    text-align: center;
    border-radius: 20px;
}

.pie .grupo-2{
    background-color: rgb(37, 33, 33);
    padding: 15px 10px;
    text-align: center;
    color: aliceblue;
}

.pie .grupo-2 small{
    font-size: 15px;
}

a i{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 100px;
    color: aliceblue;
}
/* REDES SOCIALES */

.redes-sociales{
    height: 200px;
}

/* TERMINA REDES SOCIALES */

/* MEDIA QUERY */

@media screen and (max-width: 800px){
    .pie .grupo-1{
    width: 90%;
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 30px;
    padding: 35px 0px;
    }
}

@media screen and (max-width: 1900px){
    h1{
        display: none;
    }
}


